@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello to BarRate!</h1>
    <h3 class="display-4">Log In or Register and start writing your reviews!</h3>
    
</div>
